In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('train.csv')

In [3]:
data = df.copy()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [5]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [6]:
#чистка годов

In [7]:
data.loc[data.HouseYear > 2020]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,262.0,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,2857.0,5,8,B,243028.603096

In [8]:
data.loc[1497, 'HouseYear'] = 2008
data.loc[4189, 'HouseYear'] = 1968

In [9]:
#смотрим Square

In [10]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,1984.86600,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,18.41187,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1910.00000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1974.00000,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1977.00000,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2001.00000,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2020.00000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [11]:
data['Square'].loc[(data.Square < 13) & (data.LifeSquare > 13)] = data['LifeSquare'] + data['KitchenSquare'] + (data['Square'].median() - data['LifeSquare'].median())

In [12]:
data['Square'].loc[data.Square < 13] = (data['Square'].median() / data['Rooms'].median()) * data['Rooms']

In [13]:
# считаем количество комнат по площади
data['LifeSquare']=data['LifeSquare'].fillna((data['Square'].mean() - data['LifeSquare'].mean()))

In [14]:
data.loc[4853, 'Rooms'] = round(data['Rooms'].loc[(data.DistrictId == 27) & (data.HouseYear == 1977)].mean() + 0.5)

In [15]:
data['Rooms'].loc[data.Rooms < 1] = round(data['Square'] / (data['Square'].median() / data['Rooms'].median()))

In [16]:
data.loc[(data.Square > 150) & (data.Rooms < 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1641,11055,151,1.0,174.649522,174.837082,15.0,10,12.0,1958,0.236108,B,B,16,3893,27,NaN,3,10,B,232766.187698
3260,16204,23,1.0,160.647588,19.162897,1.0,3,3.0,1977,0.014073,B,B,2,475,0,NaN,0,0,B,217874.997452
3368,6674,54,1.0,168.086347,125.486563,30.0,18,28.0,2011,0.006076,B,B,30,5285,0,645.0,6,6,B,367353.574566
4047,15362,23,1.0,163.286965,161.155275,1.0,4,3.0,1977,0.014073,B,B,2,475,0,NaN,0,0,B,228572.520347
4262,28,9,2.0,604.705972,19.162897,1.0,17,18.0,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187717.242538
4690,2307,102,1.0,409.425181,410.639749,10.0,4,4.0,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,90470.430830
6977,11602,30,2.0,641.065193,638.163193,10.0,20,19.0,2019,0.000078,B,B,22,6398,141,1046.0,3,23,B,133529.681562
7084,5376,93,2.0,170.379494,19.162897,1.0,3,2.0,1977,0.004949,B,B,0,186,0,NaN,0,0,B,194582.912756

In [17]:
data['Square'].loc[(data.Square > 150) & (data.Rooms < 3)] = data['Square'] / 10

In [18]:
# смотрим этажи
#data.loc[data.Floor > data.HouseFloor + 1].head()

In [19]:
data['First_floor'] = 1

In [20]:
data['First_floor'].loc[data.Floor > 1] = 0
data['First_floor'] = data['First_floor'].astype('category')

In [22]:
data['Price'].loc[data.Social_1 < 12].mean()

164303.3888804543

In [23]:
data['Price'].loc[data.Social_1 > 12].mean()

235870.69510953763

### Модель

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.model_selection import GridSearchCV

In [44]:
params={
        'min_samples_leaf':[3,5,7,10],
        'n_estimators':[25,50,75],
        'max_depth':[3,5,7]    
        }
regr=GridSearchCV(RFR(),param_grid=params,cv=2)

In [45]:
getto_feats=['Rooms', 'Square', 'HouseYear','Shops_1','Social_1','Helthcare_2','price_per_meter',
             'Shops_2_A','Shops_2_B','First_floor_0','First_floor_1']

In [46]:
getto = data.loc[data.Social_2 <= 2500]
goods = data.loc[data.Social_2 > 2500]

In [76]:
getto_train,getto_valid=train_test_split(getto, test_size=0.2, random_state=2)
goods_train,goods_valid=train_test_split(goods, test_size=0.2, random_state=2)

In [48]:
# вычисляем среднею ценю за квадратный метр по району

In [77]:
getto_mean = getto_train.groupby(['DistrictId'],as_index=False).agg({'Price':'mean', 'Square': 'mean'}).rename(columns={'Price': 'Mean_price', 'Square': 'Mean_square'})
goods_mean = goods_train.groupby(['DistrictId'],as_index=False).agg({'Price':'mean', 'Square': 'mean'}).rename(columns={'Price': 'Mean_price', 'Square': 'Mean_square'})

In [78]:
getto_mean['price_per_meter']=getto_mean['Mean_price']/getto_mean['Mean_square']
goods_mean['price_per_meter']=goods_mean['Mean_price']/goods_mean['Mean_square']

In [79]:
# мерджим

In [80]:
getto_train=pd.merge(getto_train, getto_mean, on=['DistrictId'], how='left')
goods_train=pd.merge(goods_train, goods_mean, on=['DistrictId'], how='left')

In [81]:
getto_valid=pd.merge(getto_valid, getto_mean, on=['DistrictId'], how='left')
goods_valid=pd.merge(goods_valid, goods_mean, on=['DistrictId'], how='left')

In [82]:
# заполняем пропуски

In [83]:
getto_train['price_per_meter']=getto_train['price_per_meter'].fillna(getto_train['price_per_meter'].mean())
goods_train['price_per_meter']=goods_train['price_per_meter'].fillna(goods_train['price_per_meter'].mean())
getto_valid['price_per_meter']=getto_valid['price_per_meter'].fillna(getto_valid['price_per_meter'].mean())
goods_valid['price_per_meter']=goods_valid['price_per_meter'].fillna(goods_valid['price_per_meter'].mean())

In [56]:
# модель

In [84]:
y_getto_train=getto_train['Price']
y_goods_train=goods_train['Price']
y_getto_valid=getto_valid['Price']
y_goods_valid=goods_valid['Price']

In [85]:
getto_train=pd.get_dummies(getto_train)
goods_train=pd.get_dummies(goods_train)
getto_valid=pd.get_dummies(getto_valid)
goods_valid=pd.get_dummies(goods_valid)

In [86]:
### лес на тех же данных

In [87]:
%%time
regr.fit(getto_train.loc[:, getto_feats], y_getto_train)

Wall time: 4.11 s

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [3, 5, 7],
                         'min_samples_leaf': [3, 5, 7, 10],
                         'n_estimators': [25, 50, 75]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [88]:
regr.best_params_

{'max_depth': 7, 'min_samples_leaf': 5, 'n_estimators': 25}

In [89]:
model_getto_rfr=RFR(max_depth=7,min_samples_leaf=5,n_estimators=25)

In [90]:
model_getto_rfr.fit(getto_train.loc[:, getto_feats], y_getto_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=7,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=5, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=25,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [91]:
getto_valid['Price'] = model_getto_rfr.predict(getto_valid.loc[:, getto_feats])

In [92]:
r2_score(y_getto_valid, getto_valid['Price'])

0.7445375621727022

In [93]:
%%time
regr.fit(goods_train.loc[:, getto_feats], y_goods_train)

Wall time: 10.2 s

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [3, 5, 7],
                         'min_samples_leaf': [3, 5, 7, 10],
                         'n_estimators': [25, 50, 75]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [94]:
regr.best_params_

{'max_depth': 7, 'min_samples_leaf': 7, 'n_estimators': 75}

In [95]:
model_goods_rfr=RFR(max_depth=7,min_samples_leaf=7,n_estimators=75)

In [96]:
model_goods_rfr.fit(goods_train.loc[:, getto_feats], y_goods_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=7,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=7, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=75,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [97]:
goods_valid['Price'] = model_goods_rfr.predict(goods_valid.loc[:, getto_feats])

In [98]:
r2_score(y_goods_valid, goods_valid['Price'])

0.6918606799451654

In [99]:
final = getto_valid[['Id', 'Price']].append(goods_valid[['Id', 'Price']])

## Применяем на тестовых

In [100]:
df_test=pd.read_csv('test.csv')

In [101]:
test = df_test.copy()

In [131]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.278000,1.910000,56.468245,32.813477,5.976800,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.175149,0.838594,18.959266,16.681182,9.950018,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,0.000000,13.305531,0.333490,0.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.906231,20.338833,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.921340,29.118838,6.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,41.769526,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,209.000000,17.000000,223.453689,169.901701,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [113]:
test.loc[test.Square < 13]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2]
Index: []

In [109]:
test['Square'].loc[(test.Square < 13) & (test.LifeSquare > 13)] = test['LifeSquare'] + test['KitchenSquare'] + (test['Square'].median() - test['LifeSquare'].median())

In [112]:
test['Square'].loc[test.Square < 13] = (test['Square'].median() / test['Rooms'].median()) * test['Rooms']

In [114]:
test['LifeSquare']=test['LifeSquare'].fillna((test['Square'].mean() - test['LifeSquare'].mean()))

In [122]:
test.loc[410, 'LifeSquare']=45

In [127]:
#test.loc[(test.Square > 150) & (test.Rooms < 3)]
test['Square'].loc[(test.Square > 150) & (test.Rooms < 3)] = test['Square'] / 10

In [129]:
test['First_floor'] = 1
test['First_floor'].loc[test.Floor > 1] = 0
test['First_floor'] = test['First_floor'].astype('category')

In [130]:
test['DistrictId'].loc[test.DistrictId > 209] = 209

#### разбиваем на два

In [141]:
tgetto = test.loc[data.Social_2 <= 2500]
tgoods = test.loc[data.Social_2 > 2500]

In [142]:
print(tgetto.shape, tgoods.shape)

(1526, 20) (3474, 20)

In [143]:
tgetto=pd.merge(tgetto, getto_mean, on=['DistrictId'], how='left')
tgoods=pd.merge(tgoods, goods_mean, on=['DistrictId'], how='left')

In [144]:
tgetto['price_per_meter']=tgetto['price_per_meter'].fillna(tgetto['price_per_meter'].mean())
tgoods['price_per_meter']=tgoods['price_per_meter'].fillna(tgoods['price_per_meter'].mean())

In [145]:
tgetto=pd.get_dummies(tgetto)
tgoods=pd.get_dummies(tgoods)

In [149]:
tgetto['Price']=model_getto_rfr.predict(tgetto.loc[:, getto_feats])
tgoods['Price']=model_goods_rfr.predict(tgoods.loc[:, getto_feats])

In [150]:
predict=tgetto[['Id', 'Price']].append(tgoods[['Id', 'Price']])

In [154]:
predict.describe()

                 Id          Price
count   5000.000000    5000.000000
mean    8412.595400  208859.124321
std     4832.674037   73969.497135
min        1.000000   69332.411196
25%     4221.750000  159598.646443
50%     8320.500000  188460.539750
75%    12598.250000  235971.701996
max    16795.000000  511955.173368

In [156]:
predict.loc[:,['Id','Price']].to_csv('PBabalich_predictions.csv',index=False) #index=None

In [162]:
pd.read_csv('PBabalich_predictions.csv')

         Id          Price
0      5502  150454.383651
1      4220  180251.466190
2     11538  214827.734646
3      5214  103964.089798
4     13543  194788.259635
5     16688  146838.506973
6     13454  142380.895437
7     12190  151196.349735
8     11160  159189.064406
9     10291  138366.746826
10     2449  210543.593429
11     9348  141414.683282
12     6624  115723.248415
13     8994  188875.177292
14    11513  139529.564041
15    12309  138106.289861
16     8334  184105.517777
17      153  163411.972767
18      269  208676.936195
19     5079  192433.846634
20     9996  189588.862083
21    11733  193905.165008
22    10929  143069.015917
23     9897  178394.880980
24     1872  180377.025880
25     9205  187120.660794
26     5403  238226.923862
27     6268  147330.240328
28    14232  138727.365285
29    14462  180578.482398
...     ...            ...
4970   3326  297287.505810
4971   5820  154213.211148
4972  11604  199622.265091
4973   5327  227369.790276
4974  13639  192931.556913
4975    349  336311.857670
4976  15181  267970.951840
4977   4821  251946.576293
4978   3450  144401.993620
4979  16064  129493.810341
4980   5296  135719.147476
4981   5346  458214.297883
4982    417  164908.085010
4983  14090  189312.010290
4984  14778  330311.202126
4985   2560  179369.601797
4986  12920  170471.739129
4987   8249  136030.293340
4988   7125  142950.945361
4989  13365  354969.726022
4990  15937  284038.384419
4991   2591  177785.125233
4992   2105  219193.688990
4993   7220  315099.291081
4994  14562  184951.466978
4995   6836  178806.151505
4996   8180  258737.019152
4997   4695  138537.782679
4998   4780  354725.313753
4999  12504  173259.715564

[5000 rows x 2 columns]

In [164]:
proverka = pd.merge(test, predict, on=['Id'], how='left')

In [168]:
proverka['']

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,First_floor,Price
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,...,B,11,2748,1,NaN,0,0,B,0,157955.822948
1,15856,74,2.0,69.263183,20.338833,1.0,6,1.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,0,219223.952193
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,...,B,30,7538,87,4702.0,5,5,B,0,235705.043775
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,...,B,23,4583,3,NaN,3,3,B,0,302030.457493
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,...,B,2,629,1,NaN,0,0,A,0,129168.896332
5,7633,53,1.0,40.675627,20.338833,1.0,21,21.0,1977,0.049637,...,B,34,7759,0,229.0,1,3,B,0,198552.245991
6,13329,23,2.0,68.099538,64.843025,1.0,2,17.0,1977,0.075779,...,B,6,1437,3,NaN,0,2,B,0,278417.216169
7,5502,32,2.0,48.193897,32.857644,6.0,5,14.0,1972,0.135650,...,B,46,7960,6,350.0,3,11,B,0,150454.383651
8,4220,96,3.0,72.277106,45.968758,9.0,17,17.0,1997,0.041116,...,B,53,14892,4,NaN,1,4,B,0,180251.466190
9,11538,6,3.0,80.219400,47.660260,9.0,13,17.0,2014,0.243205,...,B,5,1564,0,540.0,0,0,B,0,214827.734646
10,15975,61,3.0,64.543658,42.651541,7.0,10,9.0,1981,0.300323,...,B,52,10311,6,NaN,1,9,B,0,270183.649193
11,3310,6,3.0,84.625350,20.338833,1.0,6,17.0,1977,0.243205,...,B,5,1564,0,540.0,0,0,B,0,309067.099842
12,9286,3,1.0,34.743457,19.772110,6.0,5,9.0,1971,0.265089,...,B,37,5288,0,1937.0,3,2,B,0,152184.037003
13,11260,46,2.0,46.813776,31.883008,5.0,4,5.0,1968,0.000000,...,B,47,11319,0,1145.0,3,5,B,0,202263.549720
14,5214,27,1.0,37.555197,20.338833,1.0,5,1.0,1977,0.211401,...,B,9,1892,0,NaN,0,1,B,0,103964.089798
15,11307,41,1.0,42.267225,21.465927,9.0,7,14.0,1974,0.036122,...,B,24,4378,0,1036.0,1,1,B,0,175806.681592
16,13543,167,3.0,80.220720,51.687097,7.0,5,5.0,1959,0.050272,...,B,21,4231,14,1020.0,0,3,B,0,194788.259635
17,615,90,1.0,40.596833,21.245197,8.0,14,15.0,1976,0.265089,...,B,37,5288,0,1937.0,3,2,B,0,190426.438445
18,3495,27,3.0,82.652818,5.690155,1.0,4,17.0,2015,0.072158,...,B,2,629,1,NaN,0,0,A,0,213656.978810
19,2321,57,2.0,53.952634,33.506643,9.0,5,14.0,2004,0.090799,...,B,74,19083,2,NaN,5,15,B,0,236433.492543
20,12046,46,1.0,38.409202,21.629841,9.0,12,22.0,2000,0.188784,...,B,31,6137,4,NaN,0,1,B,0,188631.048469
21,16688,1,1.0,44.878767,20.338833,1.0,1,9.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,1,146838.506973
22,12694,27,3.0,83.670032,46.358356,0.0,8,0.0,2015,0.072158,...,B,2,629,1,NaN,0,0,A,0,216066.512003
23,783,61,1.0,34.236032,18.477327,5.0,5,5.0,1970,0.298205,...,B,16,4048,3,NaN,1,3,B,0,161743.683336
24,8968,27,2.0,69.849239,20.338833,0.0,3,0.0,1977,0.011654,...,B,4,915,0,NaN,0,0,B,0,174517.708896
25,13454,11,2.0,44.487951,31.249479,5.0,3,5.0,1964,0.038693,...,B,28,6533,1,1015.0,2,5,B,0,142380.895437
26,12190,62,3.0,65.287328,43.399473,6.0,4,12.0,1975,0.002212,...,B,39,7614,3,NaN,1,5,A,0,151196.349735
27,11160,58,1.0,48.610661,48.752502,1.0,4,3.0,1977,0.437885,...,B,23,5735,3,1084.0,0,5,B,0,159189.064406
28,10291,32,1.0,39.135254,20.144385,9.0,3,14.0,1975,0.135650,...,B,46,7960,6,350.0,3,11,B,0,138366.746826
29,891,85,2.0,65.550690,61.689280,10.0,13,22.0,1988,0.037178,...,B,52,11217,1,2300.0,1,7,B,0,281706.461653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,1740,57,2.0,47.701998,30.281572,6.0,5,9.0,1980,0.133215,...,B,49,11395,3,1406.0,3,4,A,0,156055.775768
4971,3450,93,1.0,38.648108,20.624272,8.0,4,14.0,1986,0.521867,...,B,25,6149,0,NaN,0,0,B,0,144401.993620
4972,16064,30,1.0,38.376234,37.003311,1.0,2,1.0,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,0,129493.810341
4973,1804,27,1.0,38.916778,20.338833,0.0,11,17.0,1977,0.011654,...,B,4,915,0,NaN,0,0,B,0,112597.359066
4974,5296,52,1.0,44.442218,44.634608,0.0,5,17.0,1977,0.371149,...,B,34,7065,1,750.0,2,5,B,0,135719.147476
4975,5346,53,4.0,110.366487,77.705849,20.0,9,24.0,2018,0.049637,...,B,34,7759,0,229.0,1,3,B,0,458214.297883
4976,4723,95,1.0,45.542940,20.338833,0.0,6,0.0,1977,0.000699,...,B,14,3369,24,4129.0,0,3,B,0,239423.391271
4977,417,77,1.0,32.384127,21.555435,6.0,9,9.0,1976,0.000070,...,B,46,10309,1,240.0,1,16,B,0,164908.085010
4978,15756,27,1.0,40.732871,23.959211,8.0,6,9.0,2000,0.041116,...,B,53,14892,4,NaN,1,4,B,0,104195.741895
4979,14090,2,1.0,39.082641,33.214358,7.0,10,14.0,1970,0.000000,...,B,33,7425,1,NaN,2,5,B,0,189312.010290
4980,14778,32,2.0,57.810897,35.558413,10.0,18,22.0,2004,0.135650,...,B,46,7960,6,350.0,3,11,B,0,330311.202126
4981,2560,8,2.0,47.488384,28.896493,6.0,5,5.0,1963,0.437885,...,B,23,5735,3,1084.0,0,5,B,0,179369.601797
4982,12920,23,1.0,39.610426,38.187571,1.0,6,18.0,2013,0.034656,...,B,0,168,0,NaN,0,0,B,0,170471.739129
4983,8249,58,1.0,39.768340,22.413943,8.0,10,10.0,2005,0.310199,...,B,11,2748,1,NaN,0,0,B,0,136030.293340
4984,7125,126,1.0,36.233212,22.885434,9.0,3,12.0,1969,0.333892,...,B,30,6564,1,NaN,0,0,B,0,142950.945361
4985,11732,1,1.0,46.597283,20.338833,1.0,17,24.0,1977,0.007122,...,B,1,264,0,NaN,0,1,B,0,148942.574794
4986,13365,35,3.0,82.145360,44.116118,10.0,21,22.0,1998,0.089040,...,B,33,7976,5,NaN,0,11,B,0,354969.726022
4987,5361,53,3.0,80.102103,20.338833,1.0,13,22.0,1977,0.049637,...,B,34,7759,0,229.0,1,3,B,0,194788.259635
4988,15937,9,4.0,92.158252,54.168616,12.0,4,14.0,1997,0.161532,...,B,25,5648,1,30.0,2,4,B,0,284038.384419
4989,2591,39,2.0,44.203592,30.191691,6.0,10,9.0,1972,0.428826,...,B,25,5011,8,730.0,0,2,B,0,177785.125233
4990,15706,94,2.0,47.776485,27.920873,6.0,8,9.0,1970,0.282798,...,B,33,8667,2,NaN,0,6,B,0,152137.246252
4991,2105,64,2.0,45.493240,32.022565,6.0,4,9.0,1974,0.135650,...,B,46,7960,6,350.0,3,11,B,0,219193.688990
4992,7220,96,3.0,80.182493,48.627326,10.0,10,17.0,2003,0.041116,...,B,53,14892,4,NaN,1,4,B,0,315099.291081
4993,14562,113,2.0,46.627882,27.058739,5.0,6,5.0,1969,0.307467,...,A,30,5048,9,325.0,2,5,B,0,184951.466978
4994,6836,39,2.0,45.131282,30.780551,6.0,2,5.0,1965,0.428826,...,B,25,5011,8,730.0,0,2,B,0,178806.151505
4995,8180,11,3.0,67.133911,50.809797,6.0,5,9.0,1973,0.000170,...,B,36,5992,0,NaN,1,1,B,0,258737.019152
4996,4695,1,1.0,40.198472,21.807061,10.0,12,17.0,2017,0.007122,...,B,1,264,0,NaN,0,1,B,0,138537.782679
4997,5783,12,3.0,77.842178,48.282625,9.0,23,22.0,1989,0.090799,...,B,74,19083,2,NaN,5,15,B,0,196906.111041
4998,4780,62,2.0,81.305222,20.338833,0.0,4,0.0,1977,0.072158,...,B,2,629,1,NaN,0,0,A,0,354725.313753
4999,12504,30,2.0,60.555693,20.338833,1.0,10,17.0,1977,0.000078,...,B,22,6398,141,1046.0,3,23,B,0,173259.715564